{% load static %}


{% block content %}
{% if user.is_authenticated %}

<script>
  window.location.href = "{% url 'authentication:menu' %}";
</script>

{% else %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayRoll+</title>
    <link rel="icon" type="image/x-icon" href="../media/images/salaryicon.png">
    <link href="{% static 'initscreen.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
          <a class="navbar-brand " ><img src="{% static '../media/images/salaryicon128.png' %}" alt="No Encontrada" width="50" height="50" id="icon" style="margin-left: 1rem;"/></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" id="firstitem">PayRoll +</a>
              </li> 
              </ul>
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
              <li class="nav-item" id="nav-item">
                <a class="nav-link active" aria-current="page" href="https://es.tradingview.com/" id="trading">Trading View</a>
              </li>
              <li class="nav-item" id="nav-item">
                <a class="nav-link active" aria-current="page" href="#" id="companies">Empresas</a>
              </li> 
              <li class="nav-item" id="nav-item">
                <a class="nav-link active" aria-current="page" href="/../authentication/signup" id="signup">Registrarse</a>
              </li> 
              <li class="nav-item" id="nav-item">
                <a class="nav-link active" aria-current="page" href="/../authentication/signin" id="login">Iniciar Sesion</a>
              </li> 
            </ul>
           
          </div>
        </div>
      </nav>

      <div class="container-fluid h-100" style="min-height: 85vh ; background-color: #f2f2f2;">
        <div class="row w-100 mx-auto " style="min-height: 85vh;" >
            <div class="col-lg-6 align-self-center " >
                <h1 class="text-center" style="color: #0b38a0;"> PayRoll + </h1>
                <p class="py-3 text-center" style="font-weight: 500; margin-left: 3rem; margin-right: 3rem;"> 
                    En PayRoll plus , entendemos la importancia de una gestión de nómina eficiente y precisa para tu negocio. 
                    En Nuestra plataforma podrás realizar cálculos precisos de salarios, deducciones y beneficios, 
                    generando nóminas detalladas de manera rápida y sencilla. Además, podrás gestionar la información de tus empleados, 
                    incluyendo datos personales, contratos, días de vacaciones y otros aspectos relevantes.
                </p>
            </div>
            <div class="col-lg-6 py-3 ">
                <img class="img-fluid" src="../../media/images/imgRef1.jpg" alt="No Encontrada" style="margin-top: 3rem;"/>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</html>

{% endif %}
{% endblock %}